<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Playground for Programmers.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>PP : Blog</title>

    <script src="../../public/js/jquery-3.3.1.js"></script>
    <script src="../../public/js/material.min.js"></script>
    <script src="../../public/js/app.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="../../public/css/mdb.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- MDL -->
    <link rel="stylesheet" href="../../public/css/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

     <!-- Your custom styles (optional) -->
     <link rel="stylesheet" href="../../public/css/styles.css">
     <link  rel="stylesheet" href="../../public/css/blog.css">
     <link rel="stylesheet" href="../../public/css/custom-styles.css">

</head>


<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">

            <div class="devsite-product-name-wrapper">
                <a  href="">
                    <img src="../../public/img/pp-icon.png" class="devsite-product-logo" alt="Web">
                </a>
                <span class="logo-font text-beside-logo mdl-layout-title">Programmers Playground</span>

            </div>

            <!-- Title -->
            <!--<span class="logo-font text-beside-logo mdl-layout-title">This is Header</span>-->
            <!--<div>
                <span class="android-title mdl-layout-title">
                    <img class="android-logo-image" src="images/logo_round.svg">
                </span>
                <span class="logo-font text-beside-logo mdl-layout-title">This is Header</span>
            </div>-->

            <div class="mdl-layout-spacer"></div>

            <div class="android-navigation-container">
                <!-- Navigation. We hide it in small screens. -->
                <nav class="android-navigation mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">Home</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/contest">Contest</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/blog">Blog</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Questionnaires</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Code Review</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">About</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Sign In</a>
                </nav>
            </div>


        </div>
    </header>

    <div class="mdl-layout__drawer  mdl-layout--small-screen-only" >
        <span class="mdl-layout-title">This is Drawer</span>
        <nav class=" mdl-navigation">
            <a class="mdl-navigation__link" href="">Android</a>
            <a class="mdl-navigation__link" href="">GO</a>
            <a class="mdl-navigation__link" href="">Algorithm</a>
            <a class="mdl-navigation__link" href="">Contact</a>
        </nav>
    </div>

    <main id="main" role="main" class="mdl-layout__content">
        <a name="top"></a>


        <!--Main layout-->
        <main>
            <section class="blog-main-img mdl-typography--text-center">

            </section>

            <div class="container">
                <!--Section: Cards-->
                <section class="text-center">
                    <!--Grid row-->
                    <div class="row mb-4 wow fadeIn">

                        <!--Grid column-->
                        <div class="col-lg-12 col-md-12 mb-4">
                            <!--Card-->
                            <div class="card">

                                <!--Card image-->
                                <div class="view overlay imgsize">
                                    <img src="../../public/img/blog-general-img.png" class="card-img-top" alt="">
                                </div>

                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">Blog Post Title</h4>
                                    <!--Text-->
                                    <p class="card-text">Learn how to create a smart website which learns your user and reacts properly to his behavior.Learn how to create a smart website which learns your user and reacts properly to his behavior.Learn how to create a smart website which learns your user and reacts properly to his behavior.</p>
                                    <a href="#" target="_blank" class="btn btn-info btn-md">Read
                                        <i class="fa fa-book ml-2"></i>
                                    </a>
                                </div>
                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-12 col-md-12 mb-4">
                            <!--Card-->
                            <div class="card">

                                <!--Card image-->
                                <div class="view overlay imgsize">
                                    <img src="../../public/img/blog-general-img.png" class="card-img-top" alt="">
                                </div>

                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">Blog Post Title</h4>
                                    <!--Text-->
                                    <p class="card-text">Learn how to create a smart website which learns your user and reacts properly to his behavior.Learn how to create a smart website which learns your user and reacts properly to his behavior.Learn how to create a smart website which learns your user and reacts properly to his behavior.</p>
                                    <a href="#" target="_blank" class="btn btn-info btn-md">Read
                                        <i class="fa fa-book ml-2"></i>
                                    </a>
                                </div>
                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-12 col-md-12 mb-4">
                            <!--Card-->
                            <div class="card">

                                <!--Card image-->
                                <div class="view overlay imgsize">
                                    <img src="../../public/img/blog-general-img.png" class="card-img-top" alt="">
                                </div>

                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">Blog Post Title</h4>
                                    <!--Text-->
                                    <p class="card-text">Learn how to create a smart website which learns your user and reacts properly to his behavior.Learn how to create a smart website which learns your user and reacts properly to his behavior.Learn how to create a smart website which learns your user and reacts properly to his behavior.</p>
                                    <a href="#" target="_blank" class="btn btn-info btn-md">Read
                                        <i class="fa fa-book ml-2"></i>
                                    </a>
                                </div>
                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->


                    </div>
                    <!--Grid row-->


                    <!--Pagination-->
                    <nav class="d-flex justify-content-center wow fadeIn">
                        <ul class="pagination pg-blue">

                            <!--Arrow left-->
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>

                            <li class="page-item active">
                                <a class="page-link" href="#">1
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">5</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!--Pagination-->

                </section>
                <!--Section: Cards-->

            </div>
            <footer class="mdl-mini-footer">
                    <div class="mdl-mini-footer__left-section">
                        <div class="mdl-logo">Programmer's Playground</div>
                        <ul class="mdl-mini-footer__link-list">
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Privacy & Terms</a></li>
                        </ul>
                    </div>
                </footer>
        </main>

    </main>

   
    <button id="bCreateButton" class="fab-add mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
        <i class="material-icons">add</i>
    </button>
    

    
</div>
</body>

<!-- SCRIPTS -->
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../../public/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../../public/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="../../public/js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script>

</html>