<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Playground for Programmers.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>PP : Home</title>

    <link rel="stylesheet" href="../../public/css/material.min.css">
    <script src="../../public/js/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="../../public/css/styles.css">

</head>

<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">

            <div class="devsite-product-name-wrapper">
                <a  href="">
                    <img src="../../public/img/logo_round.svg" class="devsite-product-logo" alt="Web">
                </a>
                <span class="logo-font text-beside-logo mdl-layout-title">Programmers Playground</span>

            </div>

            <!-- Title -->
            <!--<span class="logo-font text-beside-logo mdl-layout-title">This is Header</span>-->
            <!--<div>
                <span class="android-title mdl-layout-title">
                    <img class="android-logo-image" src="images/logo_round.svg">
                </span>
                <span class="logo-font text-beside-logo mdl-layout-title">This is Header</span>
            </div>-->

            <div class="mdl-layout-spacer"></div>

            <div class="android-navigation-container">
                <!-- Navigation. We hide it in small screens. -->
                <nav class="android-navigation mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="index.html">Home</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="contest.html">Contest</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="blog.html">Blog</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Questionnaires</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Code Review</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">About</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Sign In</a>
                </nav>
            </div>


        </div>
    </header>

    <div class="mdl-layout__drawer  mdl-layout--small-screen-only" >
        <span class="mdl-layout-title">This is Drawer</span>
        <nav class=" mdl-navigation">
            <a class="mdl-navigation__link" href="">Android</a>
            <a class="mdl-navigation__link" href="">GO</a>
            <a class="mdl-navigation__link" href="">Algorithm</a>
            <a class="mdl-navigation__link" href="">Contact</a>
        </nav>
    </div>

    <main id="main" role="main" class="mdl-layout__content">
        <a name="top"></a>
        <section class="android-be-together-section mdl-typography--text-center">
            <div class="logo-font android-slogan">Don't learn to code. Learn to think.</div>
            <div class="logo-font android-sub-slogan mdl-typography--font-regular">Welcome to programmer's playground. Built for programmers.</div>

            <a href="#screens">
                <button class="android-fab mdl-button mdl-button--fab mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">expand_more</i>
                </button>
            </a>

        </section>

        <section>
            <a name="screens"></a>
            <div class="benefits">

                <div class="benefits-title mdl-typography--text-center">
                    <h2 class="mdl-typography--font-light">Everyone Benefits</h2>
                </div>
                <div class="mdl-typography--text-center">
                    <h4 class="mdl-typography--font-light">Programmers Playground brings teams together to work through problems, move ideas forward, and learn from each other along the way.
                    </h4>
                </div>

                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-tablet mdl-typography--text-center">
                        <div>
                            <i class="material-icons blue600 md-96">create</i>
                        </div>
                        <h4 class="mdl-typography--font-light">Create</h4>
                        <p class="mdl-typography--subhead">Create contest from online judge.</p>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-tablet mdl-typography--text-center">
                        <div>
                            <i class="material-icons orange600 md-96">publish</i>
                        </div>
                        <h4 class="mdl-typography--font-light">Publish</h4>
                        <p class="mdl-typography--subhead">Publish your contest so that people cna join to your contest.</p>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-tablet mdl-typography--text-center">
                        <div>
                            <i class="material-icons green600 md-96">compare</i>
                        </div>
                        <h4 class="mdl-typography--font-light">Compare</h4>
                        <p class="mdl-typography--subhead">Compare people, rank them and know your position.</p>
                    </div>
                </div>

            </div>
        </section>

        <section class="contest-ranking">
            <div class=" mdl-grid contest-ranking-wrap">
                <div class="mdl-cell mdl-cell--6-col">

                    <div class="mdl-typography--text-center">
                        <h2 class="mdl-typography--font-light">Upcoming contests</h2>
                        <table class="mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--8dp" >
                            <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric"> Contest Name</th>
                                    <th><span class="mdl-badge ">Date</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric"><a href="#">UIU weekly contest#1</a></td>
                                    <td>02-04-2018</td>
                                </tr>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric"><a href="#">UIU weekly contest#2</a></td>
                                    <td>04-04-2018</td>
                                </tr>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric"><a href="#">UIU weekly contest#3</a></td>
                                    <td>06-04-2018</td>
                                </tr>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric"><a href="#">UIU weekly contest#4</a></td>
                                    <td>08-04-2018</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="#">
                            <button class="explore-upcoming-contest-button mdl-typography--text-center mdl-button mdl-js-button mdl-js-ripple-effect">
                                Explore Upcoming Contest
                                <i class="material-icons">chevron_right</i>
                            </button>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--6-col">
                   <!-- <div class="mdl-layout-spacer"></div>-->
                    <div class="mdl-typography--text-center">
                        <h2 class="mdl-typography--font-light">Top Rated</h2>
                        <div class="demo-card-wide mdl-card mdl-shadow--8dp">
                            <div class="demo-list-action mdl-list">
                                <div class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                  <i class="material-icons mdl-list__item-avatar">person</i>
                                  <span>Bryan Cranston</span>
                                </span>
                                    300
                                </div>
                                <div class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                  <i class="material-icons mdl-list__item-avatar">person</i>
                                  <span>Aaron Paul</span>
                                </span>
                                    239
                                </div>
                                <div class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                  <i class="material-icons mdl-list__item-avatar">person</i>
                                  <span>Bob Odenkirk</span>
                                </span>
                                    <span class="mdl-list__item-secondary-content">
                                  188
                              </span>
                                </div>
                            </div>
                        </div>

                        <a href="#">
                            <button class="explore-upcoming-contest-button mdl-typography--text-center mdl-button mdl-js-button mdl-js-ripple-effect">
                                View all
                                <i class="material-icons">chevron_right</i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="do-more">
            <div class="mdl-typography--text-center mdl-cell mdl-cell--12-col">
                <h2 class="mdl-typography--font-light">Do More, Be Productive.</h2>
                <!--<h2 class="mdl-typography&#45;&#45;font-light">Programmers Playground Blog</h2>-->
            </div>

            <div class="section-card-container mdl-grid">

                <div class="mdl-cell mdl-cell--5-col mdl-cell--5-col-tablet mdl-cell--5-col-phone mdl-card ">

                    <div class="mdl-card__title">
                        <H2 class="mdl-card__title-text">Programmers Playground Blog</H2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class=" mdl-typography--subhead">
                            Get blog post from your favourite teacher.
                        </span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="android-link mdl-button  mdl-js-button mdl-typography--text-uppercase" href="">Read Blog
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--5-col mdl-cell--5-col-tablet mdl-cell--5-col-phone mdl-card">
                    <div class="mdl-card__media">
                        <img src="../../public/img/more-from-1.png">
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--5-col mdl-cell--5-col-tablet mdl-cell--5-col-phone mdl-card">
                    <div class="mdl-card__media">
                        <img src="../../public/img/more-from-2.png">
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--5-col mdl-cell--5-col-tablet mdl-cell--5-col-phone mdl-card ">

                    <div class="mdl-card__title">
                        <H2 class="mdl-card__title-text">Ask for any help</H2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class=" mdl-typography--subhead">
                            Ask question and get help from programmer's playground community.
                        </span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="android-link mdl-button  mdl-js-button mdl-typography--text-uppercase" href="">Ask
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--5-col mdl-cell--5-col-tablet mdl-cell--5-col-phone mdl-card ">

                    <div class="mdl-card__title">
                        <H2 class="mdl-card__title-text">Code Review</H2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class=" mdl-typography--subhead">
                            Review your code with other experienced programmer and know your limitation.
                        </span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="android-link mdl-button  mdl-js-button mdl-typography--text-uppercase" href="">Review Code
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--5-col mdl-cell--5-col-tablet mdl-cell--5-col-phone mdl-card">
                    <div class="mdl-card__media">
                        <img src="../../public/img/more-from-3.png">
                    </div>
                </div>
            </div>
        </section>

        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Programmer's Playground</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
        </footer>
    </main>
</div>
</body>
</html>