<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Welcome to I am on my own.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Auth</title>

    <link rel="stylesheet" href="../../public/css/material.min.css">
    <script src="../../public/js/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="../../public/css/signin.css">

</head>

<body class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

<header class="  mdl-layout__header mdl-layout__header--waterfall mdl-shadow--4dp mdl-color--white">

    <div class=" just-test header-name-wrapper">
        <a  href="">
            <img src="../../public/img/logo_round.svg" class="header-logo" alt="Web">
        </a>
        <span class="header-title mdl-layout-title">Open Account</span>
    </div>
    <!--<div class=" just-test mdl-layout__header-row ">
        <span class="header-title text-beside-logo mdl-layout-title">This is Header</span>
    </div>-->
</header>

<main class="mdl-layout__content">

    <!-- Simple header with fixed tabs. -->
    <div class="mdl-shadow--8dp tabbed-pane mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
        <header class=" mdl-layout__header mdl-layout__header--transparent">
            <!-- Tabs -->
            <div class=" mdl-color--blue-grey-400 mdl-layout__tab-bar mdl-js-ripple-effect">
                <a href="#fixed-tab-1" class="mdl-typography--font-bold mdl-layout__tab is-active">SIGN UP</a>
                <a href="#fixed-tab-2" class="mdl-typography--font-bold mdl-layout__tab">SIGN IN</a>
            </div>
        </header>


        <main class=" content-padding mdl-layout__content">

            <section class=" mdl-grid mdl-layout__tab-panel is-active" id="fixed-tab-1">
                <div class="mdl-cell--12-col mdl-layout-title"><h2 class="mdl-typography--font-light">Create Your Account</h2></div>
                <div class="mdl-grid">
                    <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="firstname">
                        <label class="mdl-textfield__label" for="first_name" >First Name*</label>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="lastname">
                        <label class="mdl-textfield__label" for="last_name" >Last Name*</label>
                    </div>
                </div>

                <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="email" id="email">
                    <label class="mdl-textfield__label" for="email" >Email*</label>
                    <span class="mdl-textfield__error">Email is not valid!</span>
                </div>

                <div class="mdl-grid">
                    <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" pattern=".{6,}" id="password">
                        <label class="mdl-textfield__label" for="password" >Password*</label>
                        <span class="mdl-textfield__error">Six or more characters!</span>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" pattern=".{6,}" id="confirm_password">
                        <label class="mdl-textfield__label" for="confirm_password" >Confirm Password*</label>
                        <span class="mdl-textfield__error">Six or more characters!</span>
                    </div>
                </div>

                <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="contactno">
                    <label class="mdl-textfield__label" for="contactno" >Contact No*</label>
                    <span class="mdl-textfield__error">Contact No is not valid!</span>
                </div>

                <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="vjudge">
                    <label class="mdl-textfield__label" for="vjudge" >VJudge ID*</label>
                    <span class="mdl-textfield__error">VJudge ID is not valid!</span>
                </div>
                
                <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="uva">
                    <label class="mdl-textfield__label" for="uva" >UVA ID</label>
                    <span class="mdl-textfield__error">UVA ID is not valid!</span>
                </div>

                <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="cf">
                    <label class="mdl-textfield__label" for="cf" >Codeforces ID</label>
                    <span class="mdl-textfield__error">Codeforces ID is not valid!</span>
                </div>

                <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="hr">
                    <label class="mdl-textfield__label" for="hr" >Hackerrank ID</label>
                    <span class="mdl-textfield__error">Hackerrank ID is not valid!</span>
                </div>

                <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="cc">
                    <label class="mdl-textfield__label" for="cc" >Codechef ID</label>
                    <span class="mdl-textfield__error">Codechef ID is not valid!</span>
                </div>

                <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="timus">
                    <label class="mdl-textfield__label" for="timus" >Timus ID</label>
                    <span class="mdl-textfield__error">Timus ID is not valid!</span>
                </div>

                <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="tc">
                    <label class="mdl-textfield__label" for="tc" >Topcoder ID</label>
                    <span class="mdl-textfield__error">Topcoder ID is not valid!</span>
                </div>

                <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="urij">
                    <label class="mdl-textfield__label" for="urij" >URI ID</label>
                    <span class="mdl-textfield__error">URI ID is not valid!</span>
                </div>

                <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="lo">
                    <label class="mdl-textfield__label" for="lo" >LightOj ID</label>
                    <span class="mdl-textfield__error">LightOj ID is not valid!</span>
                </div>

                <div class="btn-sign-up">
                    <button class="mdl-shadow--8dp mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="btn-sign-up">
                        Sign Up
                    </button>
                </div>

                <div><hr></div>

                <div class="mdl-card__supporting-text">
                    or sign up with one of these services
                </div>

                <div class="mdl-grid">

                    <div class="mdl-cell--6-col">
                        <div class="btn-other-sign-up">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                FACEBOOK
                            </button>
                        </div>
                    </div>

                    <div class="mdl-layout-spacer"></div>

                    <div class="mdl-cell--6-col ">
                        <div class="btn-other-sign-up">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                GOOGLE
                            </button>
                        </div>

                    </div>

                </div>

            </section>
            

            <form action="/signin" method="POST">
                <section class="mdl-grid mdl-layout__tab-panel" id="fixed-tab-2">

                    <div class="mdl-cell--12-col mdl-layout-title"><h2 class="mdl-typography--font-light">Log Into Your Account</h2></div>

                    <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="email" id="email_in" name="email">
                        <label class="mdl-textfield__label" for="email_in" >Email*</label>
                        <span class="mdl-textfield__error">Email is not valid!</span>
                    </div>

                    <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" pattern=".{6,}" id="passwor_in" name="password">
                        <label class="mdl-textfield__label" for="passwor_in" >Password*</label>
                        <span class="mdl-textfield__error">Six or more characters!</span>
                    </div>

                    <div class="btn-sign-up">
                        <button class="mdl-shadow--8dp mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit">
                            Sign In
                        </button>
                    </div>

                    <div><hr></div>

                    <div class="mdl-card__supporting-text">
                        or sign in with one of these services
                    </div>

                    <div class="mdl-grid">

                        <div class="mdl-cell--6-col">
                            <div class="btn-other-sign-up">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                    FACEBOOK
                                </button>
                            </div>
                        </div>

                        <div class="mdl-layout-spacer"></div>

                        <div class="mdl-cell--6-col ">
                            <div class="btn-other-sign-up">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                    GOOGLE
                                </button>
                            </div>

                        </div>

                    </div>

                </section>
            </form>



        </main>
    </div>


</main>


</body>

<script src="../../public/js/jquery.js"></script>
<script src="../../public/js/app.js"></script>
</html>