<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Playground for Programmers.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>PP : Contest</title>

    <link rel="stylesheet" href="../../public/css/material.min.css">
    <script src="../../public/js/material.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

    <link rel="stylesheet" href="../../public/css/new-style.css">
    <link rel="stylesheet" href="../../public/css/new-contest-style.css">
</head>

<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="main-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
            <div class="main-header-name-wrapper">
                <a  href="">
                    <img src="../../public/img/pp-icon.png" class="main-header-logo" alt="Web">
                </a>
                <span class="main-header-tittle mdl-layout-title">Programmers Playground</span>
            </div>

            <div class="mdl-layout-spacer"></div>

            <div class="main-navigation-container">
                <!-- Navigation. We hide it in small screens. -->
                <nav class="main-navigation mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">Home</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/contest">Contest</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/blog">Blog</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="mdl-layout__drawer  mdl-layout--small-screen-only">
        <div class="main-header-name-wrapper">
            <a  href="">
                <img src="../../public/img/pp-icon.png" class="main-header-logo" alt="Web">
            </a>
            <span class="main-header-tittle mdl-layout-title">PP</span>
        </div>
        <nav class=" mdl-navigation">
            <a class="mdl-navigation__link" href="">Home</a>
            <a class="mdl-navigation__link" href="">Contest</a>
            <a class="mdl-navigation__link" href="">Blog</a>
            <a class="mdl-navigation__link" href="">Sign In</a>
        </nav>
    </div>

    <main id="main" role="main" class="mdl-layout__content">
        <section class="ctst-container">
            <div>
                <h3 class="mdl-color-text--accent mdl-typography--text-center">Tuesday, May 10</h3>
                <div class="mdl-card mdl-grid mdl-cell--12-col card-container">
                    <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
                        <h1 class="ctst-clk">9.15</h1>
                        <span>AM</span>
                    </div>
                    <div class="mdl-cell mdl-cell--9-col card-border">
                        <h2 class="mdl-layout-title">Codeforces Round #486 (Div. 2)</h2>
                        <div class="mdl-card__supporting-text ctst-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Mauris sagittis pellentesque lacus eleifend lacinia...
                        </div>
                    </div>
                    <div class="mdl-card__menu">
                        <a href="">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                <i class="material-icons">link</i>
                            </button>
                        </a>

                    </div>
                </div>
                <div class="mdl-card mdl-grid mdl-cell--12-col card-container">
                    <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
                        <h1 class="ctst-clk">6.15</h1>
                        <span>AM</span>
                    </div>
                    <div class="mdl-cell mdl-cell--9-col card-border">
                        <h2 class="mdl-layout-title">Codeforces Round #486 (Div. 3)</h2>
                        <div class="mdl-card__supporting-text ctst-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Mauris sagittis pellentesque lacus eleifend lacinia...
                        </div>
                    </div>


                    <div class="mdl-card__menu">
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons">link</i>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="mdl-color-text--accent mdl-typography--text-center">Tuesday, May 11</h3>
                <div>
                    <div class="mdl-card mdl-grid mdl-cell--12-col card-container">
                        <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
                            <h1 class="ctst-clk">6.15</h1>
                            <span>AM</span>
                        </div>
                        <div class="mdl-cell mdl-cell--9-col card-border">
                            <h2 class="mdl-layout-title">Codeforces Round #486 (Div. 3)</h2>
                            <div class="mdl-card__supporting-text ctst-desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Mauris sagittis pellentesque lacus eleifend lacinia...
                            </div>
                        </div>


                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                <i class="material-icons">link</i>
                            </button>
                        </div>
                    </div>
                    <div class="mdl-card mdl-grid mdl-cell--12-col card-container">
                        <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
                            <h1 class="ctst-clk">6.15</h1>
                            <span>AM</span>
                        </div>
                        <div class="mdl-cell mdl-cell--9-col card-border">
                            <h2 class="mdl-layout-title">Codeforces Round #486 (Div. 3)</h2>
                            <div class="mdl-card__supporting-text ctst-desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Mauris sagittis pellentesque lacus eleifend lacinia...
                            </div>
                        </div>


                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                <i class="material-icons">link</i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </section>



        <footer class="main-footer mdl-mini-footer ">
            <div class="mdl-mini-footer__left-section">
                <div class="main-footer-tittle mdl-logo">Programmer's Playground</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
        </footer>

    </main>

    <button id="bCreateButton" class="fab-add-ctst mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
        <i class="material-icons">add</i>
    </button>


</div>
</body>
</html>