body {
        background-color: #f3f3f3;
    }

#cCreateButton {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 140px;
    margin-bottom: 140px;
    z-index: 900;
}

.mdl-dialog{
    min-width: 550px;
}

.ui-widget-content{
    border: 0px !important;
    background: #ffffff;
}


