body {
    margin: 0;
    background: #E3F2FD;
}

/* Disable ugly boxes around images in IE10 */
a img{
    border: 0px;
}

::-moz-selection {
    background-color: #2196F3;
    color: #fff;
}

::selection {
    background-color: #2196F3;
    color: #fff;
}

.just-test{
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.header-name-wrapper {
    display: -ms-flexbox;
    display: flex;
}

.header-logo {
    height: 48px;
    width: 48px;
}

.header-title {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #767777;
    font-size: 30px;
    font-weight: 300;
    padding-left: 20px;
}

.tabbed-pane{
    background: #fff;
    margin: 40px auto;
    max-width: 620px;
    max-height: 680px;
    text-align: center;
}

.content-padding{
    padding: 0 48px;
}

.sign-up-tab{
    background: #fff3e0;
}


.btn-sign-up .mdl-button {
    background: #02b3e4;
    color: #fff;
    border-radius: 4px;
    margin: 15px;
    height: 48px;
    width: 216px;
}

.btn-sign-up .mdl-button:hover {
    background: #148bb1;
}

.btn-other-sign-up .mdl-button{
    color: #767777;
    height: 48px;
    width: 216px;
}
.btn-other-sign-up .mdl-button:hover {
    color: #02b3e4;
}






